<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
       <RollingFile name="File"
            fileName="${sys:catalina.base}/logs/marcus-video.log"
            filePattern="${sys:catalina.base}/logs/marcus-video-%d{MM-dd-yyyy}-%i.log.gz">
            
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1}:%L - %m%n" />
            
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" level="error" />
        <Logger name="org.apache" level="error" />
        <Logger name="com.zaxxer" level="error" /> <Root level="info">
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
